<a href="https://colab.research.google.com/github/zrsteff/DSC502/blob/main/HW1_Steffens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

try:
    # Adjust the path to where your file is located on Google Drive
    medals_df = pd.read_csv('/content/drive/My Drive/DATA/olympic_medals.csv')
    print("DataFrame loaded successfully!")
except FileNotFoundError:
    print("Error: 'olympic_medals.csv' not found. Please ensure the file is in the correct path.")
    print("Current attempted path: '/content/drive/My Drive/DATA/olympic_medals.csv'")

Mounted at /content/drive
DataFrame loaded successfully!

### (a) Find the size of the data frame. How many rows, how many columns?

In [8]:
rows, cols = medals_df.shape
print(f"The DataFrame has {rows} rows and {cols} columns.")

The DataFrame has 2394 rows and 8 columns.

### (b) Use the appropriate function to report the data types for all columns.

In [9]:
print("Data types for each column:")
print(medals_df.dtypes)

Data types for each column:
Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

### (c) Find how many unique cities matches were held at.

In [13]:
num_unique_cities = medals_df['Location'].nunique()
print(f"Matches were held at {num_unique_cities} unique cities.")

Matches were held at 23 unique cities.

### (d) Find how many medals the USA team won in total.

In [11]:
usa_medals = medals_df[medals_df['Nationality'] == 'USA']
total_usa_medals = len(usa_medals)
print(f"The USA team won a total of {total_usa_medals} medals.")

The USA team won a total of 638 medals.

### (e) Find the total number of medals for each Nationality.

In [12]:
medals_by_nationality = medals_df.groupby('Nationality').size().sort_values(ascending=False)
print("Total number of medals for each Nationality:")
display(medals_by_nationality)

Total number of medals for each Nationality:

Nationality
USA    638
GBR    161
URS    131
KEN     87
GDR     76
      ...
SYR      1
TJK      1
TPE      1
YUG      1
ZAM      1
Length: 97, dtype: int64